body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 60px;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    background-color: #ffffff;
    transition: ease-in-out 0.3s;
    overflow: hidden;
}

.sidebar:hover {
    width: 200px;
}

.sidebar:hover > .item> .text {
    opacity: 1;
}

.center-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

#profile {
    text-align: center;
}

#profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#profile-name {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

#profile-buttons {
    margin-top: 10px;
}

.follow-button {
    background-color: #007BFF;
    color: #fff;
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    cursor: pointer;
}

.message-button, .add-button {
    background-color: #ccc;
    color: #fff;
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    cursor: pointer;
}
#categories-top {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.category-item {
  text-align: center;
}

#categories-bottom {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.category-item-bottom {
  text-align: center;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.category-item-bottom.active {
  border-bottom: 2px solid #007BFF;
}

#image-gallery {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.gallery-image {
  width: 30%;
  margin-bottom: 20px;
}

.gallery-image img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

#profile {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
}

#profile-image {
    margin-right: 10px; /* Agrega un margen a la derecha de la imagen */
}

