header {
    background-color: #FFE600; 
    padding: 10px 0;
    text-align: center;
    position: relative;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.login-buttons {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 10px;
}

.category-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}